<section class="row">
    <div class="six columns">
        <h4 class="{{alignment}}-{{color}}">Likes</h4>
        <ul>
            
            {{#each pageText.likes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="six columns">
        <h4 class="{{alignment}}-{{color}}">Dislikes</h4>
        <ul>
            {{#each pageText.dislikes}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</section>
<hr>
<section class="row">
    <div class="twelve columns">
    <h4 class="{{alignment}}-{{color}}">Biography</h4>

    <p>{{pageText.biography.p1}}</p>
    <p>{{pageText.biography.p2}}</p>
    <p>{{pageText.biography.p3}}</p>
    <p>{{pageText.biography.p4}}</p>
    </div>
</section>
<hr>
<section class="row">
    <div class="twelve columns">
        <h4 class="{{alignment}}-{{color}}">Resume</h4>
        {{#each pageText.resume.positions}}
            <h5 class="{{../alignment}}-{{../color}}">Position: {{@key}}</h5>
            <ul>
            {{#each this}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
        {{/each}}
    </div>
</section>